<form [formGroup]="githubForm">
  <div>
    <label for="username">Username:</label>

    <input id="username" type="text" formControlName="username" />

    <button type="button" (click)="search()">Search</button>
  </div>

  <div>
    <label for="filter">Filter:</label>

    <input id="filter" type="text" formControlName="filter" (input)="updateFilter()" />
  </div>
</form>

@if (filteredUsers().length > 0) {
  <table>
    <thead>
      <tr>
        <th>User Id</th>
        <th>Username</th>
        <th>Profile URL Link</th>
      </tr>
    </thead>

    <tbody>
      @for (user of filteredUsers(); track user.id) {
        <tr>
          <td>{{ user.id }}</td>

          <td>{{ user.login }}</td>

          <td>
            <a [href]="user.html_url" target="_blank">
              {{ user.html_url }}
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
